<header>
  <nav>
      <div class="nav-wrapper">
          <a class="brand-logo left" href="#">
              <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
              Real Time
          </a>

          <ul class="right">
              <li><a href="/">Home</a></li>
          </ul>

      </div>
  </nav>
</header>
