<!DOCTYPE html>
<html lang="en">

  <% include ./partials/head %>

  <body class="container-fluid">

    <% include ./partials/header %>

      <main class="center">
        <div class="jumbotron">
          <h1>CrowdSourcer</h1>
          <div id="connection-count"></div>
          <div id="user-ids"></div>
          <hr/>
          <% include ./partials/form %>
        </div>
      </main>

      <% include ./partials/footer %>
      <% include ./partials/scripts %>
  </body>
</html>
