body {
  background-color: blue;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  width: 100%;
}

#options-block {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.new-poll {
  width: 80%;
  margin: 0 auto;
  margin-top: 48px;
}
