<!DOCTYPE html>

<html>
  <% include ../partials/head %>

  <body class="container-fluid">

    <% include ../partials/header %>

    <main class="center">
      <h1>Poll: <%= poll.title %></h1>
      <div id="connection-count"></div>

      <% include ../partials/options %>
      <% include ../partials/results %>

      <p><a href='<%= `/poll/results/${poll.pollId}` %>'>See Poll & All Results</a></p>
      <p><a href='<%= `/poll/${poll.pollId}` %>'>Take Poll</a></p>
      <div class="btn" id="close-poll">Close Poll</div>
    </main>

    <% include ../partials/footer %>
    <% include ../partials/scripts %>
  </body>
</html>
