<!DOCTYPE html>

<html>
    <% include ../partials/head %>

  <body class="center">

    <% include ../partials/header %>
    <p>
      Take poll WITH RESULTS
    </p>
    <h1>Poll: <%= poll.title %></h1>
    <div id="connection-count"></div>

    <% include ../partials/options %>
    <% include ../partials/results %>

    <% include ../partials/footer %>
    <% include ../partials/scripts %>
  </body>
</html>
